.logo-box{
    height: 60px;
    left: 0px;
    right: 0px;
    position: absolute;
    text-align: center;
    /* vertical-align: middle; */
    /* padding-top: 5px; */
    margin-top: 0px;
    padding-bottom: 5px;

}

.logo-small{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
display: inline;
align-items: center;
text-align: center;
letter-spacing: -0.3px;

color: #97453A;
}

.logo-big{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    display: inline;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;

    color: #97453A;
}
.logo-big-p{
    margin-left: 10px;
    width: 375px;

    position: absolute;
    left: calc(50% - 375px/2);

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    display: inline;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;

    color: #97453A;
}
.tab-box{
    position: absolute;
    /* width: 378px; */
    line-height: 51px;
    top: 64px;
    left: calc(50% - 347px/2);

    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #97453A;
}

.home-tab-set{
    display: inline-block;
    position: relative;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    margin-right: 14px;
    margin-left: 14px;    
    color: #97453A;
}

.setting-top{
    /* 정예원님의 My 투자설정 */
    margin-left: 30px;

    position: absolute;
    width: 375px;
    height: 62px;
    left: calc(50% - 375px/2);
    top: 116px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: block;
    align-items: center;
    letter-spacing: -0.3px;

    color: #97453A;

}
.stock-data-box2{
    position: absolute;
    width: 308px;
    height: 619px;
    left: calc(50% - 308px/2 - 1.5px);
    top: 162px;

}
.stock-data-box{
    /* Rectangle 45 */
    position: relative;
    /* width: 308px; */
    /* height: 40px; */
    left: calc(50% - 308px/2 - 1.5px);
    /* display: block; */
    /* border:1px solid #000000; */
    /* background-color:green; */
    padding-bottom: 2%;
    /* margin: 1px; */
    border-bottom: 1px solid ;
    margin-bottom: 0px;

}
.stock-name{
    /* 삼성전자 */
    margin-bottom: 0px;
    display: inline-block;
    position: relative;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.3px;

    color: #000000;

}
.stock-price{
    position: relative;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;

color: #FF0000;
}
.stock-percent{
    /* 확률 68% */


    position: relative;


    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.3px;
    padding-left: 7px;
    color: rgba(0, 0, 0, 0.7);
}
.buy-button{
    /* Rectangle 21 */

left: 260px;
    position: absolute;
    width: 51px;
    height: 26px;
    float: right;
    margin-top: 30px;
    background: #97453A;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.3px;

    color: #FFFFFF;
    border: 0px;

}